@page
@model WebApp.Pages.Marks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Промени</h1>

<h4>Оценка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mark.Id" />
            <div class="form-group">
                <label asp-for="Mark.Stud" class="control-label">Ученик</label>
                <input asp-for="Mark.Stud" class="form-control" />
                <span asp-validation-for="Mark.Stud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.Grade" class="control-label">Оценка</label>
                <input asp-for="Mark.Grade" class="form-control" />
                <span asp-validation-for="Mark.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.Subject" class="control-label">Предмет</label>
                <input asp-for="Mark.Subject" class="form-control" />
                <span asp-validation-for="Mark.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.Teacher" class="control-label">Учител</label>
                <input asp-for="Mark.Teacher" class="form-control" />
                <span asp-validation-for="Mark.Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.Date" class="control-label">Дата</label>
                <input asp-for="Mark.Date" class="form-control" />
                <span asp-validation-for="Mark.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Обартно към дневник</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
