@page
@model IndexModel
@{
    ViewData["Title"] = "Shkolo But Better";
}

<div class="text-center">
    <h1 class="display-4">Choose user</h1>
    <button id="StudentButton"> Student </button>
    <button id="TeacherButton"> Teacher </button>
</div>
