@page
@model IndexModel
@{
    ViewData["Title"] = "Shkolo But Better";
}

<div class="text-center">
    <h1 class="display-4">Влез като:</h1>
    
    <button class="button">
        <a href="/MarksTeachers">Учител</a>
    </button>

    <button class="button">
        <a href="/MarksStudents">Ученик</a>
    </button>

</div>
