@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<html>
    <body>
    <p style="font-size:100%; ">
        We use your data to provide and improve the Service. By using the Service,
        you agree to the collection and use of information in accordance with this policy.</p>
    <h1 style="font-size:180%;"> Information Collection and Use</h1>
    <p style="font-size:100%; ">We collect several different types of information for various purposes to provide and improve our Service to you.</p>
    <p style="font-size:100%; ">Types of Data Collected:</p>
    <p style="font-size:100%; ">Personal Data:</p>
    <p style="font-size:100%; ">*Email address</p>
    <p style="font-size:100%; ">*First name and last name</p>
    <p style="font-size:100%; ">*Age and Date of birth</p>
    </body>
</html>